<div class="leftside-menu">

    <!-- Logo Light -->
    <a href="index.html" class="logo logo-light">
        <span class="logo-lg text-info fs-4 fw-bold">
            <img src="../static/assets/images/logo-sm.png" alt="logo" height="22"> 
            PHYSIOTHERAPY
        </span>
        <span class="logo-sm">
            <img src="../static/assets/images/logo-sm.png" alt="small logo" height="22">
            <!--  
            PHYSIOTHERAPY-->
        </span>
    </a>

    <!-- Logo Dark -->
    <a href="index.html" class="logo logo-dark">
        <span class="logo-lg text-info fs-4 fw-bold">
            <img src="../static/assets/images/logo-dark.png" alt="dark logo" height="22">
            PHYSIOTHERAPY
        </span>
        <span class="logo-sm">
         <img src="assets/images/logo-sm.png" alt="small logo" height="22"> 
           
        </span>
    </a>

    <!-- Sidebar Hover Menu Toggle Button -->
    <button type="button" class="btn button-sm-hover p-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
        <i class="ri-checkbox-blank-circle-line align-middle"></i>
    </button>

    <!-- Sidebar -left -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>
        <!-- Leftbar User -->
        <div class="leftbar-user">
            <a href="pages-profile.html">
                <img src="/static/assets/images/users/avatar-1.jpg" alt="user-image" height="42"
                    class="rounded-circle shadow-sm">
                <span class="leftbar-user-name">Dominic Keller</span>
            </a>
        </div>

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title side-nav-item">Navigation</li>

            <li class="side-nav-item">
                <a href="/home/" class="side-nav-link rounded">
                    <i class="uil-home-alt"></i>
                    <span> Home </span>
                </a>
            </li>

            <li class="side-nav-title side-nav-item">Report</li>

            <li class="side-nav-item">
                <a href="{% url 'my_reports' %}" class="side-nav-link rounded">
                    <i class="uil-receipt"></i>
                    <span>  Report </span>
                </a>
            </li>

        </ul>
        <!--- End Sidemenu -->

        <div class="clearfix"></div>
    </div>
</div>