{% extends 'base.html' %}

{% block css %}

    <style>
        
        
    </style>

{% endblock %}

{% block content %}

<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">                                    
                        
                        <h4 class="page-title">Home</h4>
                    </div>
                </div>
            </div>
            
            <div class="row">

                <div class="col-xxl-4 col-sm-12">
                    <a href="{% url 'upload_video' %}"><div class="card widget-flat bg-info text-white">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-cloud-upload widget-icon bg-white text-info"></i>
                            </div>
                            <h5 class="text-uppercase mt-0">Upload Recorded Video</h5>
                            <h4 class="mt-3 mb-3">Show the result with uploaded video</h4>
                        </div>
                    </div></a>
                </div> <!-- end col-->

                <div class="col-xxl-4 col-sm-12">
                    <a href="{% url 'therapy' %}"><div class="card widget-flat bg-success text-white">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-format-list-bulleted-type widget-icon bg-white text-success"></i>
                            </div>
                            <h5 class="text-uppercase mt-0">Therapy List</h5>
                            <h4 class="mt-3 mb-3">Show result with individual therapy</h4>
                        </div>
                    </div></a>
                </div> <!-- end col-->

                <div class="col-xxl-4 col-sm-12">
                    <div class="card widget-flat bg-primary text-white">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-message-video widget-icon bg-white text-primary"></i>
                            </div>
                            <h5 class="text-uppercase mt-0">classify therapy</h5>
                            <h4 class="mt-3 mb-3">Show result with classify therapy</h4>
                        </div>
                    </div>
                </div> <!-- end col-->
            </div>                             
            

        </div>
        <!-- container -->

    </div>
    <!-- content -->

</div>

{% endblock %}

{% block js %}

    

{% endblock %}
