
{% extends 'base.html' %}

{% block css %}

<style>
  /* Custom alert styles */
  .custom-alert {
      display: none;
      position: fixed;
      top: 19%;
      left: 57%;
      transform: translate(-50%, -50%);
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 9999;
  }

  /* Close button styles */
  .custom-alert .close-btn {
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
      font-weight: bold;
  }


  #loader-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader-spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


</style>

{% endblock %}

{% block content %}

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">                                    
                        <h4 class="page-title">Report</h4>
                    </div>
                </div>
            </div>
            <div class="card text-center">
              <div class="card-header bg-light text-success">
                <span style="font-size: 22px;
                            font-weight: bold;
                        ">Exercise Report</span>
                        <button onclick="goBack()" class="btn btn-warning" style="float: right;"><i class="uil uil-backward">
                        </i> Go Back</button>
              </div>
              <div class="card-body">
                <h2 class="card-title text-info">{{ user_info.first_name }} {{ user_info.last_name }}</h2>
                <h3 class="card-text mx-3 text-warning">Email: {{ user_info.email }}</h3>
                <div class="row mx-5">
                  <div class="table-responsive" id="reports">
                      <table class="table table-hover table-sm" id="myTable"> 
                          <thead class="table table-dark">
                            <tr>
                              <th scope="col">Exercise Name</th>
                              <th scope="col">Result</th>
                            </tr>
                          </thead>
                          <tbody class="table-group-divider">
                            <tr>
                              <th scope="row">{{ execrise_name }}</th>
                              <td>{{ analysis_result }}</td>
                            </tr>
                          </tbody>
                        </table>
                
                  </div>
              </div>
              </div>
              <div class="card-footer text-muted bg-light">
                <i>Date: <span id="currentDate"></span></i>
              </div>
              
              <!--<button onclick="javascript:demoFromHTML()">PDF</button>-->

              
              <form id="myForm">
                  <input type="hidden" value="{{ execrise_name }}" name="therapy_name">
                  <input type="hidden" value="{{ user_info.id}}" name="user_id">
                  <input type="hidden" value="{{ user_info.first_name }} {{ user_info.last_name }}" name="user_name">
                  <input type="hidden" value="{{ analysis_result }}" name="result">
                  <input type="hidden" value="" id="dateInput" name="date">
                  <button type="submit" class="btn btn-success w-100" id="saveButton">Save</button>
              </form>

              <div id="loader-overlay" style="display:none">
                <div id="loader-spinner"></div>
              </div>

            </div>

        </div>
        <!-- container -->

    </div>
    <!-- content -->

    {% include "footer/js_file.html" %}

</div>

{% endblock %}

{% block js %}
{% comment %} <script type="text/javascript">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  function demoFromHTML() {
      var pdf = new jsPDF('p', 'pt', 'letter');
      // source can be HTML-formatted string, or a reference
      // to an actual DOM element from which the text will be scraped.
      source = $('#reports')[0];

      // we support special element handlers. Register them with jQuery-style 
      // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
      // There is no support for any other type of selectors 
      // (class, of compound) at this time.
      specialElementHandlers = {
          // element with id of "bypass" - jQuery style selector
          '#bypassme': function(element, renderer) {
              // true = "handled elsewhere, bypass text extraction"
              return true
          }
      };
      margins = {
          top: 80,
          bottom: 60,
          left: 40,
          width: 522
      };
      // all coords and widths are in jsPDF instance's declared units
      // 'inches' in this case
      pdf.fromHTML(
              source, // HTML string or DOM elem ref.
              margins.left, // x coord
              margins.top, {// y coord
                  'width': margins.width, // max width of content on PDF
                  'elementHandlers': specialElementHandlers
              },
      function(dispose) {
          // dispose: object with X, Y of the last line add to the PDF 
          //          this allow the insertion of new lines after html
          pdf.save('Test.pdf');
      }
      , margins);
  }
</script> {% endcomment %}
<script>
  var currentDate = new Date().toLocaleDateString('en-GB');
  document.getElementById('currentDate').textContent = currentDate;
  // Find the input field by its ID
  var dateInput = document.getElementById('dateInput');

  // Set the value of the input field to the current date
  dateInput.value = currentDate;

  function goBack() {
    window.history.back();
}
</script>

<script>
   {% comment %} // Initialize toastr
    toastr.options = {
      closeButton: true,
      progressBar: true,
      positionClass: 'toast-top-right',
      timeOut: 5000, // Display duration in milliseconds (5 seconds in this example)
    };
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}
   // Function to show a custom alert message
   function showCustomAlert(message) {
    const alertContainer = document.createElement('div');
    alertContainer.className = 'custom-alert';
    alertContainer.innerHTML = `
        <span class="close-btn" onclick="closeCustomAlert()">&times;</span>
        ${message}
    `;

    document.body.appendChild(alertContainer);
    setTimeout(function () {
        closeCustomAlert();
    }, 5000);  // Automatically close the alert after 5 seconds
    alertContainer.style.display = 'block';
}

// Function to close the custom alert
function closeCustomAlert() {
  const alertContainer = document.querySelector('.custom-alert');
  if (alertContainer) {
      alertContainer.style.display = 'none';
  }
}

// Function to disable the "Save" button and change its text
function disableSaveButton() {
  const saveButton = document.getElementById('saveButton');
  if (saveButton) {
      saveButton.disabled = true;
      saveButton.textContent = 'Data Saved';
  }
}

  document.addEventListener('DOMContentLoaded', function () {
      const form = document.getElementById('myForm');
      const loaderOverlay = document.getElementById('loader-overlay');

      form.addEventListener('submit', function (e) {
          e.preventDefault(); // Prevent the default form submission

          // Show the loader overlay
        loaderOverlay.style.display = 'block';

          const formData = new FormData(form);

          fetch('create_report', {
              method: 'POST',
              body: formData,
          })
          .then(response => response.json())
          .then(data => {
              // Handle the response, e.g., display a success message
              console.log(data.message)
              // Hide the loader overlay after processing
              loaderOverlay.style.display = 'none';
              showCustomAlert(data.message);
              disableSaveButton();
              //toastr.success(data.message);
          })
          .catch(error => {
              // Handle errors
              //toastr.error(data.message);
              loaderOverlay.style.display = 'none';
          });
      });
  });
</script>

{% endblock %}


